@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.hero-gradient {
    background: rgb(128,90,213);
    background: linear-gradient(130deg, rgba(128,90,213,1) 0%, rgba(229,62,62,1) 50%, rgba(246,224,94,1) 100%);
}

.hero-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.hero-divider .shape-fill {
    fill: #FFFFFF;
}
